/* Variables y mixins*/
/* reset y tipografias */
* {
  font-family: 'proxima-nova', sans-serif; }
  * h1 h2 h3 h4 h5 h6 {
    font-weight: 450; }
  * p {
    font-weight: 150;
    font-size: 18px; }

body {
  min-height: 100vh; }

/* codigo pincipal */
header {
  background-color: #251D3A;
  /*position: fixed;*/
  width: 100%; }
  header .navbar li a {
    color: #E04D01; }
  header .navbar .navbar-nav .nav-link.active {
    color: #E04D01;
    font-weight: bolder; }
  header .navbar .navbar-toggler {
    border-color: #E04D01; }
  header .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(224, 77, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    color: #E04D01; }

footer {
  background-color: #251D3A;
  color: #E04D01; }
  footer .mi-foot p {
    color: #E04D01;
    justify-content: center; }
  footer .mi-foot ul li {
    display: inline;
    font-weight: bold;
    justify-content: center;
    text-decoration: none;
    height: inherit;
    text-align: center; }
    footer .mi-foot ul li img {
      max-height: 3rem; }
    footer .mi-foot ul li a {
      color: #E04D01; }

main {
  background-color: #2A2550;
  color: #FF7700; }
  main .msj-principal {
    width: 90%;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-areas: "msj-principal1 msj-principal2";
    grid-template-columns: 1fr 1fr; }
  main .msj-servicios {
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: center; }
    main .msj-servicios .grilla-servicios {
      display: grid;
      grid-template-areas: "desa ds ana cloud rpa ia";
      grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
      padding: 0px;
      margin: 0px;
      list-style-type: none;
      text-align: center;
      vertical-align: top; }
      main .msj-servicios .grilla-servicios li {
        padding: 10px;
        margin: 10px;
        outline: 1px solid #251D3A;
        border-radius: 1%;
        list-style-type: none;
        text-align: center;
        vertical-align: top; }
  main .blog-post-space {
    margin: auto;
    width: 90%;
    text-align: center; }
    main .blog-post-space .grilla-blog {
      display: grid;
      grid-template-areas: "bp1 bp2 bp3 bp4";
      grid-template-columns: 1fr 1fr 1fr 1fr; }
      main .blog-post-space .grilla-blog .blog-post {
        margin: 10px;
        padding: 10px;
        outline: 1px solid #251D3A;
        border-radius: 1%;
        margin-bottom: 1%; }
        main .blog-post-space .grilla-blog .blog-post img {
          border-radius: 25%;
          width: 75%; }
        main .blog-post-space .grilla-blog .blog-post p {
          text-align: center; }
  main .desa {
    grid-area: desa; }
  main .ds {
    grid-area: ds; }
  main .ana {
    grid-area: ana; }
  main .cloud {
    grid-area: cloud; }
  main .rpa {
    grid-area: rpa; }
  main .ia {
    grid-area: ia; }
  main .bp1 {
    grid-area: bp1; }
  main .bp2 {
    grid-area: bp2; }
  main .bp3 {
    grid-area: bp3; }
  main .bp4 {
    grid-area: bp4; }
  main .msj-principal1 {
    grid-area: msj-principal1; }
  main .msj-principal2 {
    grid-area: msj-principal2; }
    main .msj-principal2 .custom-btn {
      background-color: #E04D01;
      color: #251D3A;
      border-color: #251D3A; }
  main .logo-wrapper {
    grid-area: logo; }
  main .nav-menu {
    grid-area: nav-menu; }
  main .menu-nosotros {
    grid-area: menu-nosotros; }
  main .menu-servicios {
    grid-area: menu-servicios; }
  main .menu-blog {
    grid-area: menu-blog; }
  main .menu-contacto {
    grid-area: menu-contacto; }

main .accordion .accordion-item {
  background-color: #251D3A;
  color: #E04D01;
  border-color: #E04D01; }
  main .accordion .accordion-item .accordion-header .accordion-button {
    background-color: #251D3A;
    color: #E04D01;
    border-color: #E04D01; }

main .main-servicios-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-areas: "desa ana" "ds cloud" "rpa ia"; }
  main .main-servicios-grid .servicio-detail p {
    margin: auto;
    padding: 5%; }
  main .main-servicios-grid .servicio-detail h2 {
    margin: auto;
    text-align: center; }
  main .main-servicios-grid .desa {
    grid-area: desa; }
  main .main-servicios-grid .ds {
    grid-area: ds; }
  main .main-servicios-grid .ana {
    grid-area: ana; }
  main .main-servicios-grid .cloud {
    grid-area: cloud; }
  main .main-servicios-grid .rpa {
    grid-area: rpa; }
  main .main-servicios-grid .ia {
    grid-area: ia; }

main .card {
  background-color: #251D3A;
  color: #FF7700;
  border-color: #E04D01; }

main .custom-btn {
  background-color: #E04D01;
  color: #251D3A;
  border-color: #251D3A;
  margin-top: auto; }

/* desktop first */
@media (max-width: 1024px) {
  main .msj-servicios .grilla-servicios {
    grid-template-areas: "desa ds ana" "cloud rpa ia";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; }
  main .blog-post-space .grilla-blog {
    grid-template-areas: "bp1 bp2" "bp3 bp4";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 768px) {
  header .mi-nav {
    display: flex;
    flex-direction: column; }
    header .mi-nav .nav-menu .nav-menu-ul {
      grid-template-areas: "menu-nosotros menu-servicios" "menu-blog menu-contacto";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr; } }

@media (max-width: 768px) {
  main .msj-servicios .grilla-servicios {
    display: grid;
    grid-template-areas: "desa ds" "ana cloud" "rpa ia";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
  main .blog-post-space {
    margin: auto; }
    main .blog-post-space .grilla-blog {
      display: flex;
      flex-direction: column; }
  main .grilla-nosotros {
    display: flex;
    flex-direction: column;
    text-align: center; }
    main .grilla-nosotros .nosotros-tit1 {
      padding: 0;
      justify-content: center; }
    main .grilla-nosotros .nosotros-tit2 {
      padding: 0;
      justify-content: center; }
    main .grilla-nosotros .nosotros-tit3 {
      padding: 0;
      justify-content: center; }
    main .grilla-nosotros .nosotros-tit4 {
      padding: 0;
      justify-content: center; }
  main .main-servicios-grid {
    display: flex;
    flex-direction: column; } }

@media (max-width: 375px) {
  header .mi-nav .nav-menu .nav-menu-ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    text-align: center; } }

@media (max-width: 375px) {
  main .msj-servicios {
    margin: auto; }
    main .msj-servicios .grilla-servicios {
      display: flex;
      flex-direction: column; }
  main .msj-principal {
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column; } }

@media (max-width: 375px) {
  footer .mi-foot {
    display: flex;
    flex-direction: column;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem; } }
