footer{
    @include head-foot-color;
    color: #E04D01;
    .mi-foot{
        p{
            color: #E04D01;
            justify-content: center;
        }
        ul{
            
            li{
                display: inline;

                font-weight: bold;
                justify-content: center;
                text-decoration: none;
                height: inherit;
                text-align: center;
                img {
                    max-height: 3rem;
                }
                a{
                    color: #E04D01;
                }
            }
        }

    }

}