main{
    .button-basic  {
        border: none;
        text-align: center;
        cursor: pointer;
      }
      
      .button-report  {
        @extend .button-basic;
        background-color: red;
      }
      
      .button-submit  {
        @extend .button-basic;
        background-color: green;
        color: white;
      }

      .form-contacto{
        display: flex;
        flex-direction: row;
      }
}