main {
    .main-servicios-grid{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 2fr 2fr 2fr;
        grid-template-areas: "desa ana" "ds cloud" "rpa ia";
        .servicio-detail p{
            margin: auto;
            padding: 5%;
        }
        .servicio-detail h2{
            margin: auto;
            text-align: center;
        }
        .desa{
            grid-area: desa;
        }
        .ds{
            grid-area: ds;
        }
        .ana{
            grid-area: ana;
        }
        .cloud{
            grid-area: cloud;
        }
        .rpa{
            grid-area: rpa;
        }
        .ia{
            grid-area: ia;
        }
    }
}