main{
   .accordion .accordion-item{
        background-color: #251D3A;
        color: #E04D01;
        border-color: #E04D01;
        .accordion-header{
            .accordion-button{
                background-color: #251D3A;
            color: #E04D01;
            border-color: #E04D01;
            }
        }
   }

}
    

